#Tue, 21 May 2013 11:37:41 +0530
app.name=GS

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=d1bb2ad5-18ef-4f65-8eec-3ab2622dfe2b
